body
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
 
.ik
{
    height:100px;
    margin-left: 10px;

}
.head h2
{
font-family:Open Sans;
font-size: 45px;
color:#13aaeb;
text-align: center;
position: relative;
    
}
.img-wrap
{
    width:100%;
}
.img-wrap img {

width:100%;    
padding: 10px;
border-radius: 10%;
box-shadow: 0 0 10px #999999;

}
#aboutus h2
{
    margin-bottom: 20px;
}

p {
    text-align: justify;
    font-size: 18px;

}
.par
{
    width: 100%;
    color:#ffff;
    background:rgb(0, 0, 0,.7);
    text-align: center; 
    padding: 30px 30px 30px 30px;
}
