

body
{

    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,#13aaeb 50%,#fff 50%);
    display: grid;
    /* place-items: center; */
    font-family: "Roboto",sans-serif;
    height: 100vh;
}
nav img
{
    height:100px;
    margin-left: 10px;


      
}
.contact-from
{
background-color:#fff;
padding: 48px 40px;
box-shadow: 2px 0px 3px 0px rgba(158,157,157,0,0.75);
margin-bottom: 15px;
}
.contact-from h5
 {
     color: #07294d;
     position: relative;
     padding-bottom: 12px;
 }
 .contact-from h5:before
{
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #ffc600;
    bottom: 0;
    left: 0;

}
.contact-from h2
{
    font-size: 36px;
    color:#000;
    padding-top: 10px;
}
.contact-from .single-form input, .contact-from .single-form textarea
{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #a1a1a1;
    border-radius:5px;
    color:#8a8a8a;
    font-size: 15px;
}

.contact-from .single-form textarea
{
    padding-top: 10px;
    height: 100px;
    resize: none;

}
.contact-from .single-form
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-btn
{
    text-align: center;
    border: 1px solid #ffc600;
    padding:10px 40px;
    font-weight: 700;
    line-height: 30px;
    color:#163153;
    position: relative;
    transition: 0.4s ease-in-out;
    background-color: #ffc600;
}
.main-btn:hover
{
    color:#ffc600;
    border-color: #163153;
    background-color: #163153;
}
.contact-address
{
    background-color:#252628;
    padding: 23px 0;
}
.contact-address ul li
{
    padding-top: 30px;
    list-style:none;
}

.contact-address ul li .single-address
{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;    
}
.contact-address ul li .single-address .icon
{
    border-radius:50%;
    border: 1px solid #d83030;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #d83030;
}
.contact-address ul li .single-address .icon i
{
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.contact-address ul li .single-address .cont
{
    padding-left: 20px;
}

.contact-address ul li .single-address .cont p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin: 0px;
    margin-right: 15px;

}

.color1
{
border:1px solid #225688!important;
background: #225688!important;
}


.color2
{
border:1px solid #f3a712!important;
background: #f3a712!important;
}
.map
{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.map iframe
{
    width: 100%;
    height: 200px;
}