*
{
    box-sizing: border-box;
}

nav img
{
    height:100px;
    margin-left: 10px;
}
body
{
    margin: 0;
    padding: 0;
}
header
{
    font-size: 30px;
    text-align: center;
    color:#13aaeb;
    position: relative;
    bottom:50px;

}

h1

{
    margin-bottom: 50px;
    color: 02475e;

}
main
{
    margin-left: 100px;
}
.gallery
{
    display:block;
    float:left;
    width:25%;
    padding: 10px;
    padding-left: 12px;
   /* overflow: hidden; /*jo cheez jiske bhi upar aai vo hide*/
    border-radius: 5px;
}
main img
{
    width: 100%;
    border-radius: 5px;

}

main img:hover
{
    transform:scale(2,2); /*horizontal bhi 2 veritical bhi 2*/
    transition:.9s transform;
}