*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav img {
    height:100px;
    margin-left: 10px;
}

.item
{
    
    transition: .5s ease-in-out;
}
.item:hover
{
    filter:brightness(80%);
}
 .heading
{
    text-align:center;
    color: #13aaeb;
    font-size: 42px;
    margin-bottom: 30px;
}