body
{
    margin: 0;
    padding: 0;
    background: url("11.png")no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
    font-family: open sans; 
}
nav img
{
    height: 100px;
    margin-left: 10px;
}
.wrapper
{
    width: 1170px;
    margin: 5% auto;
}

.wrapper h2
{   
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    font-size: 50px;
    color:#02475e;
    margin: 0px;
   
}

.single-service
{
    position:relative;
    /* width:31%; */
    /* height:320px; */
    background:#edffa9;
    box-sizing: border-box;
    padding: 0 15px;
    transition: 0.5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 20px;

}

.line
{
    width: 350px;
    height: 4px; /*3px*/
    background: #000;
    margin: 0 auto 60px auto;
    
}
.single-service p
{
    color:#262626;
    font-size: 16px;
    text-align: justify;

}
.single-service h3
{
    color:#262626;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;


}
/* .social
{
    width: 60px;
    height:60px;
    background: #000;
    border-radius:50%;
    margin: 5% auto;

}
.social i
{
    font-size: 30px;
    padding: 15px;
    color:#fff;
} */
.single-service span
{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.2);
    transition: 0.7s;
    transform: skewX(10deg);
}
.single-service:hover span
{
left: 110%;
}