*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
nav img
{
    height:100px;   
    margin-left: 10px;
}
.team-section
{
        overflow: hidden;
        text-align: center;
        background: #34495e;
        padding: 50px;
}

.team-section1
{
        overflow: hidden;
        text-align: center;
        background: #34495e;
        /* padding: 50px auto; */
}

/* img
{
    width: 180px;
    height: 200px;
} */
.team-section h1
{
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 40px;
    color:#ffff
}
.team-section1 h1
{
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 40px;
    color:#ffff
}
.border
{
    display:block;
    margin:auto;
    width:160px;
    height:3px;
    background:#3498db;
    margin-bottom: 40px;
}

.ps
{
margin-bottom: 40px;

}
.ps a
{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height:160px;
    overflow: hidden;
    border-radius: 50%;
}
p{
    text-align:center;
}
.ps a img
{
    width:100%;
    filter:grayscale(100%);
    transition:0.4s all;
}

.ps a:hover >img{
    filter: none;
}

.section{
    width:600px;
    margin:auto;
    font-size: 20px;
    color:#ffff;
    text-align : justify;
    height: 0;
    overflow: hidden;
}

.section:target
{
height: auto;


}
.name
{
    display:block;
    margin-bottom: 30px;
    text-align:center;
    text-transform:uppercase;
    font-style: 22px;

}
.pp
{
    padding-bottom: 15px;
}